html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: white;
    /*margin-bottom: 60px;*/
}

.btn {
    background-color: transparent;
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none; /* Remove default outline */
}

    .btn:hover {
        background-color: #6200eed2; /* Lighter shade of purple */
        color: #000000; /* Text color turns to black */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

.btn-secondary {
    background-color: #6200EE;
    color: #FFFFFF;
}

    .btn-secondary:hover {
        background-color: #6200eed2; /* Lighter shade of purple */
        color: #000000; /* Text color turns to black */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    }

    .btn-secondary:active {
        transform: scale(0.95); /* Slightly decrease size when button is pressed */
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Reduce shadow size */
    }

.btn:hover {
    color: #ffffff;
}

img {
    width: 30px;
}

#wrapper {
    overflow-x: hidden;
}

a {
    cursor: pointer;
    color: white;
}

h3 {
    padding-top: 10px;
}

.list-group-item {
    border: none;
    color: #ffffff;
    background-color: white;
    list-style: none;
    text-align: center;
    cursor: pointer;
}

    .list-group-item:hover {
        transition: 0.5s;
        background-color: #2a2a2a45;
        color: #ffffff;
    }

.nav-item .nav-link {
    color: white;
}

.navbar {
    height: 61px;
    background: radial-gradient(circle, #6200EE, #7b4cfe);
}

#sidebar-wrapper {
    box-shadow: rgb(31, 31, 31, 0.55) 4px 11px 5px;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 105%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.scrollable-div {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    max-height: 55vh; /* Set a maximum height for the scrollable div */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: Add a border for styling */
    padding: 10px; /* Optional: Add padding for content */
}

/* Style for collapsible headings */
.collapsible {
    cursor: pointer;
    padding: 10px;
}

/* Style for content within the collapsible */
.content {
    display: none;
    padding: 10px;
}

/* Style for the numeric keys (e.g., 10, 20, 30) */
.numeric-key {
    padding-left: 2px;
    font-family: Arial;
    margin-bottom: 10px;
    color: white; /* Change the color as desired */
    border: solid;
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
    border-color: lightgray;
    box-shadow: rgb(31, 20, 20, 0.55) 4px 11px 15px;
}

/* Style for the values within the objects */
.value {
    padding-left: 5px;
    font-family: Arial;
    color: #000000c2;
}

.card-body2 {
    margin: 5px;
}

h5 {
    margin: 5px;
}

header, footer {
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.hero {
    padding: 100px 0;
    text-align: center;
    background-color: white;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: white;
    width: 30%;
    text-align: center;
}

.title-icon {
    height: 30px; /* Adjusts the height of the icon */
    width: 30px; /* Adjusts the width of the icon */
    margin-right: 10px; /* Adds space between the icon and text */
    vertical-align: middle; /* Aligns the icon with the middle of the text */
}

#parent-data-id {
    transition: opacity 0.3s ease-out; /* adjust the duration if needed */
}
