@*
   
*@
@{
}

<div class="row m-4" id="training-bag">
    <!-- Card 2 -->

    <h3>Training Analytics: </h3>
    <div class="scrollable-div" id="analytics-card-body-id">
    </div>

    <!-- Training data Card (with scrollable content) -->
    <br />
    <h3>Training Runs</h3>
    <div class="scrollable-div" id="card-id">
    </div>
</div>
