@{
    ViewData["Title"] = "Dashbaord Page";
}

<div class="parent-data-class" , id="parent-data-id">
    <div class="row m-4">
        <!-- Training data Card (with scrollable content) -->

        <div class="scrollable-div" id="card-id">
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body2" id="analytics-card-body-id">
                    <h4 class="card-title">Training Analytics</h4>
                </div>
                <button class="btn btn-secondary">sync</button>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body2">
                    <h4 class="card-title">Saved Models</h4>
                    <div>
                        <label for="fileInput">Select File(s):</label>
                        <input class="btn btn-secondary m-2" type="file" id="fileInput" multiple>
                    </div>
                    <div>
                        <label for="fileName">File Name:</label>
                        <input type="text" readonly="readonly" id="fileName">
                    </div>
                    
                    <button class="btn btn-secondary" id="uploadButton">Upload</button>
                    <button class="btn btn-secondary " id="downloadButton">Download</button>

                </div>
            </div>
        </div>

    </div>
</div>
