@{
    ViewData["Title"] = "Dashbaord Page";
}

<div class="parent-data-class" , id="parent-data-id">
    <div class="row m-4">

        <!-- Training data Card (with scrollable content) -->
        <div class="col-md-4">
            <div class="card">
                <h2 class="card-title text-center m-4">Training data</h2>
                <div class="card-body" id="card-body-id" style="height: 78vh; overflow-y: auto;">
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Training Analytics</h5>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Add</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Temp</h5>
                </div>
            </div>
        </div>

    </div>
</div>
