@{
ViewData["Title"] = "Dashbaord Page";
}

<div class="parent-data-class" , id="parent-data-id">
    <div class="row m-4">
        <!-- Card 2 -->

        <h3>Training Analytics: </h3>
        <div class="scrollable-div" id="analytics-card-body-id">

        </div>
        
        <div class="scrollable-div">
            <h4 class="card-title">Saved Models</h4>

            <input class="btn btn-secondary m-2" type="file" id="fileInput" multiple>
            <input type="text" readonly="readonly" id="fileName">

            <button class="btn btn-secondary" id="uploadButton">Upload</button>
            <button class="btn btn-secondary " id="downloadButton">Download</button>
        </div>

        <!-- Training data Card (with scrollable content) -->
        <div class="scrollable-div" id="card-id">
        </div>
    </div>
</div>
