@{
    ViewData["Title"] = "Documentation Page";
}

<div class="card p-2 m-4">
    <div class="card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Model" aria-label="Model" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="IP" aria-label="IP" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="RAM" aria-label="RAM" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Storage" aria-label="Storage" aria-describedby="basic-addon2">
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Add</button>
        </div>
    </div>
</div>