@{
    ViewData["Title"] = "Home Page";
}

<header class="hero-page-header">
    <h1><i class="fa-solid fa-magnifying-glass fa-bounce fa-sm" style="color: #6200EE;"></i>TorchTrack</h1>
</header>

<div class="hero">
    <h2 style="color: black;">Track Your Model's Journey with TorchTrack</h2>
    <p>The definitive tracking library for PyTorch.</p>
    <button  onclick="window.location.href = '@Url.Action("Documentation", "Home")'" class="btn btn-secondary">Get Started</button>
</div>

<div class="features">
    <div class="feature-card">
        <img src="~/images/analytics.png" alt="Real-time Analytics Icon">
        <h3>Real-time Analytics</h3>
        <p>Monitor training data on-the-go.</p>
    </div>

    <div class="feature-card">
        <img src="~/images/snorkeling.png" alt="Deep Dive into Models Icon">
        <h3>Deep Dive into Models</h3>
        <p>Analyze model layers, parameters, and more.</p>
    </div>

    <div class="feature-card">
        <img src="~/images/history.png" alt="Historical Data Icon">
        <h3>Historical Training Data</h3>
        <p>Access past training sessions with ease.</p>
    </div>
</div>

<footer>
    <nav>
        <a class="link-secondary" href="/">Home</a>
        <a class="link-secondary" href="">Features</a>
        <a class="link-secondary" href="/Home/Documentation">Documentation</a>
        <a class="link-secondary" href="#">About Us</a>
    </nav>
    <p>© 2023 TorchTrack</p>
</footer>
